<!DOCTYPE html>
<html>
<head>
	<title>dishmo | Flip-card</title>
	<link rel="stylesheet" type="text/css" href="css/flip-card-css/flip-card-style.css"></link>

</head>
<header>
	<section class="header">
		<article class="headerBlock"><h1>CSS Flip Card (Content with JS)</h1></article>
	</section>
</header>
<body>
	<section class="content">
	</section>




	<script type="text/javascript"
	src="https://code.jquery.com/jquery-2.1.4.js"></script>
	<script type="text/javascript"
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/flip-card-js/flip-card.js"></script>
</body>
</html>