<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>dishmo | Sample Menu</title>
<link rel="icon" type="image/png" href="/images/dishmo-favicon.png"></link>
<link rel="stylesheet" type="text/css"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"></link>
<link
	href="https://fonts.googleapis.com/css?family=Comfortaa:400,700|Roboto"
	rel="stylesheet"></link>
<link rel="stylesheet" type="text/css"
	href="/css/adam-menu-styles/adam-menu.css"></link>

<script type="text/javascript" src="js/modernizr.custom.79639.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://apis.google.com/js/platform.js" async="" defer=""></script>
<script>
	$(function() {
		$("#dishmonav").load("/dishmonav.html");
	});
</script>
</head>
<body>
	<nav id="dishmonav"></nav>
	<div class="container">
		<div class="maincontent">
			<div class="row">
				<div id="drinks" class="col-md-6 col-sm-6 col-xs-12">
					<h3 class="drinks">
						<a href="http://localhost:8080/adam-menu-drinks" target="myFrame">Drinks</a>
					</h3>
				</div>
				<div id="appetizers" class="col-md-6 col-sm-6 col-xs-12">
					<h3 class="appetizers">
						<a href="http://localhost:8080/adam-menu-appetizers"
							target="myFrame">Appetizers</a>
					</h3>
				</div>
			</div>
			<div class="row">
				<div id="breakfast" class="col-md-6 col-sm-6 col-xs-12">
					<h3 class="breakfast">
						<a href="http://localhost:8080/adam-menu-breakfasts"
							target="myFrame">Breakfast</a>
					</h3>
				</div>
				<div id="lunch" class="col-md-6 col-sm-6 col-xs-12">
					<h3 class="lunch">
						<a href="http://localhost:8080/adam-menu-lunches" target="myFrame">Lunch</a>
					</h3>
				</div>
			</div>
			<div class="row">
				<div id="dinner" class="col-md-6 col-sm-6 col-xs-12">
					<h3 class="dinner">
						<a href="http://localhost:8080/adam-menu-dinners" target="myFrame">Dinner</a>
					</h3>
				</div>
				<div id="dessert" class="col-md-6 col-sm-6 col-xs-12">
					<h3 class="dessert">
						<a href="http://localhost:8080/adam-menu-desserts"
							target="myFrame">Dessert</a>
					</h3>
				</div>
			</div>
		</div>
		<iframe height="500" width="75%" name="myFrame"></iframe>
	</div>
	<script type="text/javascript"
		src="https://code.jquery.com/jquery-2.1.4.js"></script>
	<script type="text/javascript"
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>