<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>dishmo | Sample Menu</title>
<base target="_parent"></base>
<link rel="icon" type="image/png" href="/images/dishmo-favicon.png"></link>
<link rel="stylesheet" type="text/css"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"></link>
<link
	href="https://fonts.googleapis.com/css?family=Comfortaa:400,700|Roboto"
	rel="stylesheet"></link>
<link rel="stylesheet" type="text/css"
	href="/css/adam-menu-styles/adam-menu-content.css"></link>

<script type="text/javascript" src="js/modernizr.custom.79639.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://apis.google.com/js/platform.js" async="" defer=""></script>
</head>
<body>
	<h2>Drinks</h2>
	<div th:each="currentDrink: ${drinks}">
		<div class="drinks">
			<a th:href="@{/reviews(id=${currentDrink.drinkId})}"
				th:text="${currentDrink.name}" ></a>
			<p th:text="${currentDrink.price}"></p>
		</div>
	</div>
	<h2>Alcoholic Beverages</h2>
	<div th:each="currentAlcoholicBeverage: ${alcoholicBeverages}">
		<div class="drinks">
			<a th:href="@{/reviews(id=${currentAlcoholicBeverage.alcoholicDrinkId})}"
				th:text="${currentAlcoholicBeverage.name}" ></a>
			<p th:text="${currentAlcoholicBeverage.price}"></p>
		</div>
	</div>
</body>
</html>