<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>dishmo | Sample Menu</title>
<link rel="icon" type="image/png" href="/images/dishmo-favicon.png"></link>
<link rel="stylesheet" type="text/css"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"></link>
<link
	href="https://fonts.googleapis.com/css?family=Comfortaa:400,700|Roboto"
	rel="stylesheet"></link>
<link rel="stylesheet" type="text/css" href="/css/adam-menu-styles/adam-menu-content.css"></link>

<script type="text/javascript" src="js/modernizr.custom.79639.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://apis.google.com/js/platform.js" async="" defer=""></script>
</head>
<body>
<h1>hello world!</h1>
</body>
</html>