body  {
	background-image: url("../images/new-homepage.jpg");
	background-size: cover;
	background-position: center; 
}

body,html {
	width: 100%;
	height: 100%;
	font-family: "Comfortaa";
	color: white;
}
body {
	font-weight: 700;
}

h1 {
	font-weight: 700;
	font-size: 5em;
}

.content {
	padding-top: 25%;
	text-align: center;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
	0px 8px 13px rgba(0,0,0,0.1),
	0px 18px 23px rgba(0,0,0,0.1),
	-.5px -1px 3px rgba(0,0,0,0.4),
	-.5px -3px 13px rgba(0,0,0,0.1),
	-.5px -9px 23px rgba(0,0,0,0.1);
}

hr {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

a {
	text-decoration: none;
	color:#000000;
}
a:hover {
	text-decoration: none;
	color: black;
}

.btn-default {
	border-color: black;
}

.navbar {
	background-color: rgba(0,0,0,0);
}
.navbar-nav li a {
	color: white;
	font-size: 16px;
}
.navbar-nav li a:hover {
	border-bottom: 3px solid #984b43;
}
.navbar-brand, h3 {
	color: #eac67a;
}
.navbar-brand:hover{
	color: #eac67a;
	border-bottom: 3px solid #984b43;
	background-color: rgba(0,0,0,0);
}
button .icon-bar{
	background-color: #eac67a;
}
.navbar-collapse.in {
	width: 100px;
	background-color: black;
}
.nav li a:hover{
	background-color: black;
}
.content h1{

}




