body,html,img {
    width: 100%;
    height: 100%;
    font-family: "Comfortaa";
    color: #18121e;
    background-color: #dfdce3;
}
.maincontent{
	margin-top: 50px;
}

.navbar {
	background-color: #233237;
}
.navbar-nav li a {
	color: white;
	font-size: 16px;
}
.navbar-nav li a:hover {
	border-bottom: 3px solid #984b43;
	background-color: rgba(0,0,0,0);
}
.navbar-brand, h3 {
	color: #eac67a;
}
.navbar-toggle {
	background: #233237;
}
.navbar-brand:hover{
	color: #eac67a;
	border-bottom: 3px solid #984b43;
	background-color: rgba(0,0,0,0);
}
button .icon-bar{
	background-color: #eac67a;
}
.navbar-collapse.in {
	width: 100px;
	background-color: #233237;
}
.nav li a:hover{
	background-color: #233237;
}
.panel-info .panel-heading{
	background-color: #233237;
	color: white;
}
.panel-info .panel-heading a{
	color: white;
}
.panel-info .panel-heading a:hover{
	text-decoration: none;
	color: blue;
}
#btn-login{
	background-color: #233237;
	border: black solid 1px;
}
#btn-signup{
	background-color: #233237;
	border: black solid 1px;
}
.panel-info{
	border: black solid 1px;
}
