body,html {
    font-family: "Comfortaa";
    color: #18121e;
    background-color: #dfdce3;
}
.container{
	margin: auto;
	max-width: 600px;
	vertical-align: center;
}
.navbar {
	background-color: #233237;
}
.navbar-nav li a {
	color: white;
	font-size: 16px;
}
.navbar-nav li a:hover {
	border-bottom: 3px solid #984b43;
	background-color: rgba(0,0,0,0);
}
.navbar-brand, h3 {
	color: #eac67a;
}
.navbar-toggle {
	background: #233237;
}
.navbar-brand:hover{
	color: #eac67a;
	border-bottom: 3px solid #984b43;
	background-color: rgba(0,0,0,0);
}
button .icon-bar{
	background-color: #eac67a;
}
.navbar-collapse.in {
	width: 100px;
	background-color: #233237;
}
.nav li a:hover{
	background-color: #233237;
}
.review {
	margin-top: 75px;
}
a:hover{
	text-decoration: none;
}
.fb-comments{
	border: 1px solid #233237;
	margin-bottom: 50px;
}
.review-content {
	margin-top: 100px;
}
#myCarousel{
	max-width: 400px;	
}
.carousel-inner{
	max-width: 500px;
	max-height: 500px !important;
	margin-top: 50px;
	margin-bottom: 50px;
	border: 1px solid #233237;
}
