<!DOCTYPE html>
<html>
<head>
<title>dishmo | About</title>
<link rel="icon" type="image/png" href="/images/dishmo-favicon.png"></link>
<link rel="stylesheet" type="text/css"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"></link>
<link rel="stylesheet" type="text/css"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"></link>
<link href="https://fonts.googleapis.com/css?family=Comfortaa|Roboto"
	rel="stylesheet"></link>
<link rel="stylesheet" type="text/css" href="/css/about.css"></link>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
	$(function() {
		$("#dishmonav").load("/dishmonav.html");
	});
</script>
</head>
<body>
	<div id="dishmonav"></div>

	<div class="maincontent">
		<h3>About dishmo</h3>

		<p>Your online restaurant menu should elevate your
			establishment&#39;s offerings, not distract from them.</p>

		<img src="/images/dishmobackground.jpg"></img>

		<p>At dishmo, we set out to build a better restaurant menu. With
			our sleek, straightforward designs, guests will be able to
			effortlessly peruse menu items in a mobile-responsive format. No more
			trapping your menu in a clunky PDF. It&#39;s time to let your dishes
			shine.</p>

		<p>dishmo menus are made to be useful for restaurants. Restaurants
			have the ability to receive specific data on every menu item in their
			restaurant. Are customers not liking the sauce? Do they hate the
			sides that come with a meal?</p>

		<p>dishmo helps answer all these questions with real feedback from
			real customers. Using Facebook comments, users can share their
			experiences at your restaurant directly with you, and with their
			friends on Facebook.</p>

		<p>
			To get started with dishmo, fill out the <a href="/contact">contact
				us</a> form. Curious how dishmo transforms a menu? View our sample
			restaurant menus <a href="http://localhost:8080/sample-menus">here</a>.
		</p>

	</div>

	<script type="text/javascript"
		src="https://code.jquery.com/jquery-2.1.4.js"></script>
	<script type="text/javascript"
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>