<!DOCTYPE html>
<html>
<head>
<title>About dishmo</title>
<link rel="stylesheet" type="text/css"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"></link>
<link rel="stylesheet" type="text/css"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"></link>
<link href="https://fonts.googleapis.com/css?family=Comfortaa|Roboto"
	rel="stylesheet"></link>
<link rel="stylesheet" type="text/css" href="/css/about.css"></link>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
	$(function() {
		$("#dishmonav").load("/dishmonav.html");
	});
</script>
</head>
<body>
	<div id="dishmonav"></div>

	<div class="maincontent">
	<h1>About dishmo</h1>

	<p>Dishmo was created to build a better internet restaurant menu.
		The days of plain menus with no interactivity are gone.</p>

	<p>So, say goodbye to plate envy. Dishmo is the app that answers
		the question, &quot;What&rsquo;s good here?&quot;</p>

	<img src="/images/dishmobackground.jpg"></img>

	<p>Have you ever been to an expensive restaurant and regretted what you
	ordered? Have you ever received your food and it looked nothing like
	what you were expecting?</p>
	
	<p>With Dishmo, users can view complete menus of local eateries and
	get the dish on what to order. Individual menu items are reviewed by
	customers and images of the actual dish can be uploaded to the review
	pages. Reviews are shareable on social media so that you can let your
	friends know about your restaurant experiences; good or bad.</p>

	<p>With options to sort restaurants by neighborhood, price, rating,
	cuisine type, and special diet, Dishmo helps you find the best dish to
	please your palate.</p>
	
	<p> Dishmo is also useful for restaurants. Restaurants have the
	ability to receive specific data on every menu item in their
	restaurant. Are customers not liking the sauce? Do they hate the sides
	that come with a specific dish? Are the dishes coming out and looking
	like they should?</p>
	
	<p> Dishmo helps answer all these questions with real feedback from
	real customers. To get your restaurant on our site, contact us here: <a href="/contact">Contact Us</a>
	</p>
	</div>

	<script type="text/javascript"
		src="https://code.jquery.com/jquery-2.1.4.js"></script>
	<script type="text/javascript"
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>