<!DOCTYPE html>
<html>
<head>
<title>About dishmo</title>
<link rel="stylesheet" type="text/css"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"></link>
<link rel="stylesheet" type="text/css"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"></link>
<link href="https://fonts.googleapis.com/css?family=Comfortaa|Roboto"
	rel="stylesheet"></link>
<link rel="stylesheet" type="text/css" href="/css/about.css"></link>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
	$(function() {
		$("#dishmonav").load("/dishmonav.html");
	});
</script>
</head>
<body>
	<div id="dishmonav"></div>

	<div class="maincontent">
	<h1>About dishmo</h1>

	<p>Your online restaurant menu should elevate your establishment’s offerings, not distract from them.</p>

	<p>At dishmo, we set out to build a better restaurant menu. With our sleek, straightforward design, guests will be able to effortlessly peruse menu items in a mobile-responsive format. No more trapping your menu in a clunky PDF. It’s time to let your dishes shine.</p>

	<p>To get started with dishmo, fill out the contact us form. Curious how dishmo transforms a menu? View our sample restaurant menu here.</p>

	<img src="/images/dishmobackground.jpg"></img>
	</div>

	<script type="text/javascript"
		src="https://code.jquery.com/jquery-2.1.4.js"></script>
	<script type="text/javascript"
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>