<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>dishmo | Sample Menu</title>
<link rel="icon" type="image/png" href="/images/dishmo-favicon.png"></link>
<meta name="google-signin-client_id"
	content="256512007537-5cnmmm9f2chrk9oec5n7jgpul06bvalt.apps.googleusercontent.com"></meta>
<link rel="stylesheet" type="text/css"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"></link>
<link
	href="https://fonts.googleapis.com/css?family=Comfortaa:400,700|Roboto"
	rel="stylesheet"></link>
<link rel="stylesheet" type="text/css" href="/css/adam-menu.css"></link>

<script type="text/javascript" src="js/modernizr.custom.79639.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://apis.google.com/js/platform.js" async="" defer=""></script>

<script>
	$(function() {
		$("#dishmonav").load("/dishmonav.html");
	});
</script>
</head>
<body>

	<div id="dishmonav"></div>

	<div class="container">
		<div class="maincontent">
			<div class="row">
				<div class="col-md-6"><h3 class="drinks"><a href="http://localhost:8080/adam-menu-drinks" target="myFrame">Drinks</a></h3></div>
				<div class="col-md-6"><h3 class="appetizers"><a href="http://localhost:8080/adam-menu-appetizers" target="myFrame"></a>Apps</h3></div>
			</div>
			<div class="row">
				<div class="col-md-6"><h3 class="breakfast"><a href="http://localhost:8080/adam-menu-breakfasts" target="myFrame">Breakfast</a></h3></div>
				<div class="col-md-6"><h3 class="lunch"><a href="http://localhost:8080/adam-menu-lunches" target="myFrame"></a>Lunch</h3></div>
			</div>
			<div class="row">
				<div class="col-md-6"><h3 class="dinner"><a href="http://localhost:8080/adam-menu-dinners" target="myFrame"></a>Dinner</h3></div>
				<div class="col-md-6"><h3 class="dessert"><a href="http://localhost:8080/adam-menu-desserts" target="myFrame"></a>Dessert</h3></div>
			</div>
		</div>
	</div>
	
	<iframe height="500" width="50%" name="myFrame"></iframe>

</body>
</html>