<!DOCTYPE html>
<html>
<head>
<title>dishmo | Home</title>
<link rel="icon" type="image/png" href="/images/dishmo-favicon.png"></link>
<meta name="google-signin-client_id"
	content="256512007537-5cnmmm9f2chrk9oec5n7jgpul06bvalt.apps.googleusercontent.com"></meta>
<link rel="stylesheet" type="text/css"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"></link>
<link
	href="https://fonts.googleapis.com/css?family=Comfortaa:400,700|Roboto"
	rel="stylesheet"></link>
<link rel="stylesheet" type="text/css" href="/css/homepage.css"></link>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://apis.google.com/js/platform.js" async="" defer=""></script>
<script>
	$(function() {
		$("#dishmonav").load("/dishmonav.html");
	});
</script>
</head>
<body>

	<div id="dishmonav"></div>

	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="content">
					<h1>
						<img src="/images/logo-final.png"></img>
					</h1>
					<h3>menus built better</h3>
					<hr></hr>
					<button class="btn btn-default btn-lg">
						<i class="fa fa-cutlery"></i><a class="view-restaurants-button"
							href="http://localhost:8080/sampleMenu"> View Sample Menu</a>
					</button>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript"
		src="https://code.jquery.com/jquery-2.1.4.js"></script>
	<script type="text/javascript"
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


</body>
</html>