<!DOCTYPE html>
<html>
<head>
<title>Contact dishmo</title>
<link rel="stylesheet" type="text/css"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"></link>
<link rel="stylesheet" type="text/css"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"></link>
<link href="https://fonts.googleapis.com/css?family=Comfortaa|Roboto"
	rel="stylesheet"></link>
<link rel="stylesheet" type="text/css" href="/css/contact.css"></link>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
	$(function() {
		$("#dishmonav").load("/dishmonav.html");
	});
</script>
</head>
<body>
	<nav id="dishmonav"></nav>
	<div class="maincontent">
		<div class="container">
			<h4>Thank you for submitting your request. You will hear from us
				soon!</h4>
		</div>
	</div>
</body>
</html>