<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>dishmo | restaurant</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"></link>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"></link>
	<link href="https://fonts.googleapis.com/css?family=Comfortaa|Roboto" rel="stylesheet"></link>
	<link rel="stylesheet" type="text/css" href="/css/restaurant.css"></link>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script>
  	$(function(){
  		$("#dishmonav").load("/dishmonav.html");
  	});
  	</script>
</head>
<body>
	
	<div id="dishmonav"></div>
	
	<p> something goes here</p>

	<div th:each="current: ${restaurantIn}">
		<p th:text="${current.name}" ></p>
	</div>
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>


</html>