<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>dishmo | Sample Menu</title>
<link rel="icon" type="image/png" href="/images/dishmo-favicon.png"></link>
<meta name="google-signin-client_id"
	content="256512007537-5cnmmm9f2chrk9oec5n7jgpul06bvalt.apps.googleusercontent.com"></meta>
<link rel="stylesheet" type="text/css"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"></link>
<link
	href="https://fonts.googleapis.com/css?family=Comfortaa:400,700|Roboto"
	rel="stylesheet"></link>
<link rel="stylesheet" type="text/css" href="/css/sample-menu.css"></link>

<script type="text/javascript" src="js/modernizr.custom.79639.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://apis.google.com/js/platform.js" async="" defer=""></script>

<script>
	$(function() {
		$("#dishmonav").load("/dishmonav.html");
	});
</script>
</head>
<body>

	<div id="dishmonav"></div>

	<div>
		<div class="container">
			<header> </header>
			<section class="main">
				<div id="rm-container" class="rm-container">

					<div class="rm-wrapper">

						<div class="rm-cover">

							<div class="rm-front">
								<div class="rm-content">

									<div class="rm-logo"></div>
									<h2>Northstar</h2>
									<h3>Delicious food &amp; Sustainability</h3>

									<a href="#" class="rm-button-open">View the Menu</a>
									<div class="rm-info">
										<p>
											4241 North High Street Columbus, Ohio 43214 <strong>Phone</strong>

											614.784.2233
										</p>
									</div>

								</div>
								<!-- /rm-content -->
							</div>
							<!-- /rm-front -->

							<div class="rm-back">
								<div class="rm-content">
									<h4>Breakfast</h4>
									<dl class="breakfastmenu" th:each="currentbreakfast: ${breakfasts}">
										<dt class="name">
											<a th:href="@{/breakfast-reviews(id=${currentbreakfast.breakfastId})}"
												th:text="${currentbreakfast.name}"></a>

										</dt>
										<span class="price" th:text="${currentbreakfast.price}"></span>
										<dd class="description" th:text="${currentbreakfast.description}"></dd>
									</dl>
									<h4>Lunch</h4>
									<dl class="lunchmenu" th:each="currentlunch: ${lunches}">
										<dt class="name">
											<a th:href="@{/lunch-reviews(id=${currentlunch.lunchId})}"
												th:text="${currentlunch.name}"></a>
										</dt>
										<span class="price" th:text="${currentlunch.price}"></span>
										<dd class="description" th:text="${currentlunch.description}"></dd>
									</dl>
								</div>
								<!-- /rm-content -->
								<div class="rm-overlay"></div>
							</div>
							<!-- /rm-back -->
						</div>
						<!-- /rm-cover -->
						<div class="rm-middle">
							<div class="rm-inner">
								<div class="rm-content">
									<h4>Dinner</h4>
									<dl class="dinnermenu" th:each="currentdinner: ${dinners}">
										<dt class="name">
											<a th:href="@{/dinner-reviews(id=${currentdinner.dinnerId})}"
												th:text="${currentdinner.name}"></a>
										</dt>
										<span class="price" th:text="${currentdinner.price}"></span>
										<dd class="description" th:text="${currentdinner.description}"></dd>
									</dl>
								</div>
								<!-- /rm-content -->
								<div class="rm-overlay"></div>
							</div>
							<!-- /rm-inner -->
						</div>
						<!-- /rm-middle -->

						<div class="rm-right">

							<div class="rm-front"></div>

							<div class="rm-back">
								<span class="rm-close">Close</span>
								<div class="rm-content">
									<h4>Drink</h4>
									<dl class="drinkmenu" th:each="currentdrink: ${drinks}">

										<dt class="name">
											<a th:href="@{/drink-reviews(id=${currentdrink.drinkId})}"
												th:text="${currentdrink.name}"></a>
										</dt>
										<span class="price" th:text="${currentdrink.price}"></span>
										<dd class="whereFrom" th:text="${currentdrink.whereFrom}"></dd>
									</dl>
									<h4>Dessert</h4>
									<dl class="dessertmenu" th:each="currentdessert: ${desserts}">

										<dt class="name">
											<a th:href="@{/dessert-reviews(id=${currentdessert.dessertId})}"
												th:text="${currentdessert.name}"></a>
										</dt>
										<span class="price" th:text="${currentdessert.price}"></span>


									</dl>
									
								</div>
								<!-- /rm-content -->
							</div>
							<!-- /rm-back -->

						</div>
						<!-- /rm-right -->
					</div>
					<!-- /rm-wrapper -->

				</div>
				<!-- /rm-container -->

			</section>

		</div>



	</div>

	<script type="text/javascript"
		src="https://code.jquery.com/jquery-2.1.4.js"></script>
	<script type="text/javascript"
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script type="text/javascript"
		src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script type="text/javascript" src="js/menu.js"></script>
	<script type="text/javascript">
		$(function() {

			Menu.init();

		});
	</script>


</body>
</html>