<!DOCTYPE html>
<html>
<head>
<title>dishmo | Sample Menus</title>
<link rel="icon" type="image/png" href="/images/dishmo-favicon.png"></link>
<link rel="stylesheet" type="text/css"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"></link>
<link rel="stylesheet" type="text/css"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"></link>
<link href="https://fonts.googleapis.com/css?family=Comfortaa|Roboto"
	rel="stylesheet"></link>
<link rel="stylesheet" type="text/css" href="/css/about.css"></link>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
	$(function() {
		$("#dishmonav").load("/dishmonav.html");
	});
</script>
</head>
<body>
	<div id="dishmonav"></div>

	<div class="maincontent">
		<h3>Sample Menus</h3>

		<p>Check out our sample menus to view what's possible for your
			restaurant's menu.</p>


		<h3>
			<a href="/adam-menu">Sample Tile Menu With iFrame</a>
		</h3>
		<h3>
			<a href="/cindy-menu">Sample Clean and Simple Menu</a>
		</h3>
		<h3>
			<a href="/meaghan-menu">Sample Carousel Menu</a>
		</h3>
		<h3>
			<a href="/sampleMenu">Sample Folding Menu</a>
		</h3>

	</div>

	<script type="text/javascript"
		src="https://code.jquery.com/jquery-2.1.4.js"></script>
	<script type="text/javascript"
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>