<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>dishmo | Home</title>
<meta name="google-signin-client_id"
	content="256512007537-5cnmmm9f2chrk9oec5n7jgpul06bvalt.apps.googleusercontent.com"></meta>
<link rel="stylesheet" type="text/css"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"></link>
<link
	href="https://fonts.googleapis.com/css?family=Comfortaa:400,700|Roboto"
	rel="stylesheet"></link>
<link rel="stylesheet" type="text/css" href="/css/sample-menu.css"></link>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://apis.google.com/js/platform.js" async="" defer=""></script>
<script>
	$(function() {
		$("#dishmonav").load("/dishmonav.html");
	});
</script>
</head>
<body>

	<div id="dishmonav"></div>
	<div class="breakfastmenu">
			<ul class="breakfasts">
				<li class="name" th:each="current: ${breakfasts}"><a
					th:href="@{/reviews(id=${current.breakfastId})}" th:text="${current.name}"></a></li>
			</ul>
	</div>

	<script type="text/javascript"
		src="https://code.jquery.com/jquery-2.1.4.js"></script>
	<script type="text/javascript"
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


</body>
</html>