<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>dishmo | Home</title>

<meta name="google-signin-client_id"
	content="256512007537-5cnmmm9f2chrk9oec5n7jgpul06bvalt.apps.googleusercontent.com"></meta>
<link rel="stylesheet" type="text/css"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"></link>
<link
	href="https://fonts.googleapis.com/css?family=Comfortaa:400,700|Roboto"
	rel="stylesheet"></link>
<link rel="stylesheet" type="text/css" href="/css/sample-menu.css"></link>

<script type="text/javascript" src="js/modernizr.custom.79639.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://apis.google.com/js/platform.js" async="" defer=""></script>

<script>
	$(function() {
		$("#dishmonav").load("/dishmonav.html");
	});
</script>
</head>
<body>





	<div>

		<div class="container">


			<header> </header>

			<section class="main">

				<div id="rm-container" class="rm-container">

					<div class="rm-wrapper">

						<div class="rm-cover">

							<div class="rm-front">
								<div class="rm-content">

									<div class="rm-logo"></div>
									<h2>Northstar</h2>
									<h3>Delicious food &amp; Sustainability</h3>

									<a href="#" class="rm-button-open">View the Menu</a>
									<div class="rm-info">
										<p>
											4241 North High Street Columbus ,
											Ohio 43214 <strong>Phone</strong> 614.784.2233
										</p>
									</div>

								</div>
								<!-- /rm-content -->
							</div>
							<!-- /rm-front -->

							<div class="rm-back">
								<div class="rm-content">
									<h4>Breakfast</h4>
									<dl class="breakfastmenu" th:each="current: ${breakfasts}">

										<dt class="name"><a th:href="@{/reviews(id=${current.breakfastId})}"
											th:text="${current.name}"></a>
										</dt>
										<span class="price" th:text="${current.price}"></span>
										<dd class="description" th:text="${current.description}"></dd>


									</dl>

									<h4>Salads &amp; More</h4>
									<dl>
										<dt>Green Delight</dt>
										<dd>Watercress, frisee and avocado salad</dd>

										<dt>
											<a
												href="http://herbivoracious.com/2010/02/thai-tofu-salad-recipe.html"
												class="rm-viewdetails" data-thumb="images/13.jpg">Gourmet
												Yam Taohu</a>
										</dt>
										<dd>Thai tofu salad yam taohu</dd>

										<dt>Panini Deluxe</dt>
										<dd>Buffalo mozzarella basil panini</dd>
									</dl>
								</div>
								<!-- /rm-content -->
								<div class="rm-overlay"></div>

							</div>
							<!-- /rm-back -->

						</div>
						<!-- /rm-cover -->

						<div class="rm-middle">
							<div class="rm-inner">
								<div class="rm-content">
									<h4>Main Courses</h4>
									<dl>
										<dt>
											<a
												href="http://herbivoracious.com/2009/03/panfried-gnocchi-with-arugula-recipe.html"
												class="rm-viewdetails" data-thumb="images/11.jpg">Crispy
												Gnocchi with Arugula</a>
										</dt>
										<dd>Pan-fried potato gnocchi with arugula salad</dd>

										<dt>Sea Palm Spicy Peanut Curry</dt>
										<dd>Tender sea palm noodles, seasoned vegetables, spicy
											peanut curry and tempeh fenel croquettes</dd>

										<dt>
											<a
												href="http://herbivoracious.com/2012/09/caviar-lentil-salad-with-arugula-crispy-shallots-and-roasted-garlic-recipe.html"
												class="rm-viewdetails" data-thumb="images/8.jpg">Lentil
												Caviar &amp; Arugula</a>
										</dt>
										<dd>Black lentil curry with arugula salad, caramelized
											shallots and roasted garlic</dd>

										<dt>Tamari-Maple Glazed Tofu</dt>
										<dd>Wasabi emulsion, sesame seeds and scallions</dd>

										<dt>Maple Barbeque Tofu</dt>
										<dd>Grilled marinated tofu, maple barbeque sauce, tahini
											slaw, grilled seasonal vegetables and mashed potatoes</dd>

										<dt>
											<a
												href="http://herbivoracious.com/2012/07/king-oyster-mushroom-with-roasted-cherries-and-sage-no-that-isnt-meat-recipe-and-thought-process.html"
												class="rm-viewdetails" data-thumb="images/4.jpg">Luxur
												Oyster</a>
										</dt>
										<dd>King oyster mushroom with roasted cherries and sage</dd>

										<dt>
											<a
												href="http://herbivoracious.com/2012/09/rigatoni-with-roasted-cauliflower-and-spicy-tomato-sauce-recipe.html"
												class="rm-viewdetails" data-thumb="images/3.jpg">Rigatoni
												di Cavolfiore</a>
										</dt>
										<dd>Rigatoni with roasted cauliflower and spicy tomato
											sauce</dd>

										<dt>
											<a
												href="http://herbivoracious.com/2012/06/saffron-chickpea-stew-with-grilled-porcini-mushroom-recipe.html"
												class="rm-viewdetails" data-thumb="images/14.jpg">Saffron
												Chana Secret</a>
										</dt>
										<dd>Saffron chickpea stew with grilled porcini mushrooms</dd>
									</dl>
								</div>
								<!-- /rm-content -->
								<div class="rm-overlay"></div>
							</div>
							<!-- /rm-inner -->
						</div>
						<!-- /rm-middle -->

						<div class="rm-right">

							<div class="rm-front"></div>

							<div class="rm-back">
								<span class="rm-close">Close</span>
								<div class="rm-content">
									<h4>Desserts</h4>
									<dl>
										<dt>
											<a
												href="http://herbivoracious.com/2012/08/crepes-with-roasted-french-plums-yogurt-and-honey.html"
												class="rm-viewdetails" data-thumb="images/5.jpg">French
												Plum Crepes</a>
										</dt>
										<dd>Crepes with roasted french plums, yogurt &amp; honey</dd>

										<dt>
											<a
												href="http://herbivoracious.com/2012/05/butterscotch-pudding-with-bittersweet-ganache-and-caramelize-white-chocolate-crunchies-recipe.html"
												class="rm-viewdetails" data-thumb="images/6.jpg">Butterscotch
												Pudding</a>
										</dt>
										<dd>Butterscotch pudding with bittersweet ganache and
											caramelize white chocolate crispies</dd>

										<dt>
											<a
												href="http://herbivoracious.com/2009/12/gateaux-de-crepes-recipe.html"
												class="rm-viewdetails" data-thumb="images/12.jpg">Chocolate
												Gâteau de Crêpes</a>
										</dt>
										<dd>Gâteau de crêpes with chocolate pastry cream and
											dulce de leche</dd>

										<dt>
											<a
												href="http://herbivoracious.com/2009/05/dutch-baby-with-sauteed-apples-giant-ovenbaked-pancakes-recipe.html"
												class="rm-viewdetails" data-thumb="images/10.jpg">Dutch
												Baby With Sauteed Apples</a>
										</dt>
										<dd>Dutch ginat oven-baked pancakes with sauteed apples</dd>

										<dt>
											<a
												href="http://herbivoracious.com/2008/08/blueberry-napol.html"
												class="rm-viewdetails" data-thumb="images/7.jpg">Blueberry
												Napoleon</a>
										</dt>
										<dd>Blueberry Napoleon with crème fraîche and raspberry
											powder</dd>

										<dt>
											<a
												href="http://herbivoracious.com/2008/09/rings-of-saturn.html"
												class="rm-viewdetails" data-thumb="images/2.jpg">Rings
												of Saturn</a>
										</dt>
										<dd>Saturn peach on challah french toast</dd>

										<dt>
											<a
												href="http://herbivoracious.com/2008/04/recipe-atayef.html"
												class="rm-viewdetails" data-thumb="images/9.jpg">Classic
												Atayef</a>
										</dt>
										<dd>Syrian ricotta-filled dessert pancakes</dd>
									</dl>
									<div class="rm-order">
										<p>
											<strong>Would you like us to cater your event?</strong> Call
											us &amp; we'll help you find a venue and organize the event:
											<strong>626.511.1170</strong>
										</p>
									</div>
								</div>
								<!-- /rm-content -->
							</div>
							<!-- /rm-back -->

						</div>
						<!-- /rm-right -->
					</div>
					<!-- /rm-wrapper -->

				</div>
				<!-- /rm-container -->

			</section>

		</div>



	</div>

	<script type="text/javascript"
		src="https://code.jquery.com/jquery-2.1.4.js"></script>
	<script type="text/javascript"
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script type="text/javascript"
		src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script type="text/javascript" src="js/menu.js"></script>
	<script type="text/javascript">
			$(function() {

				Menu.init();
			
			});
		</script>


</body>
</html>