.appetizers, .breakfasts, .drinks, .lunches-dinners  {
	text-align: center;
}

.beer-and-wine {
	text-align: center;
	padding-bottom: 30px;
	padding-top: 40px;
}

body {
	background-image: url("../../images/meaghan-menu-images/chalkboard-vertical1280x1920.jpg");
	background-size: 100%;
	background-repeat: repeat-y;
	background-position: center, fixed;
	padding-top: 70px;
}

button .icon-bar {
	background-color: #eac67a;
}

.carousel-control.left, .carousel-control.right { /*moves entire carousel up to nav bar*/
	top: -100px;
}
.carousel-indicators {
	position: absolute; 
	bottom: 0;
}

[class*='col-'] {
	float: left;
}

.click-to-see-more, .meal-name {
	font-family: 'Rock Salt', cursive;
	color: orange;
	text-align: center;
	padding-bottom: 30px;
}

.col-1-2 {
	width: 50%;
}

.description, .origin {
	font-family: 'Handlee', cursive;
	text-align: center;
	font-size: 20px;
	color: white;
}

h2 {
	text-align: center;
	color: orange;
	font-family: 'Rock Salt', cursive;
}

.menu-items {
	padding-top: 10px;
	padding-bottom: 75px;
	min-height: 500px;
	margin-left: 100px;
	margin-right: 100px;
}

.na-drinks-font {
	text-align: center;
	padding-bottom: 30px;
	padding-top: 40px;
}

.name {
	font-family: 'Handlee', cursive;
	font-size: 30px;
	color: white;
	text-align: center;
}

.name:hover {
	background-color: orange;
	color: white;
}

.navbar {
	background-color: #233237;
}

.navbar-nav li a {
	color: white;
	font-size: 16px;
}

.navbar-nav li a:hover {
	border-bottom: 3px solid #984b43;
	background-color: rgba(0, 0, 0, 0);
}

.navbar-brand, h3 {
	color: #eac67a;
}

.navbar-toggle {
	background: #233237;
}

.navbar-brand:hover {
	color: #eac67a;
	border-bottom: 3px solid #984b43;
	background-color: rgba(0, 0, 0, 0);
}

.navbar-collapse.in {
	width: 100px;
	background-color: #233237;
}

.nav li a:hover {
	background-color: #233237;
}

.orange-line {
	width: 200px;
	height: 2px;
	margin: auto;
	margin-bottom: 40px;
	margin-top: 25px;
	background: orange;
	text-align: center;
}

.price, .restaurant-name {
	font-family: 'Rock Salt', cursive;
}

.price {
	color: orange;
}

.restaurant-name {
	text-align: center;
	color: white;
}
