.breakfasts {
		text-align: center;
}

.carousel-indicators {
	position: absolute; bottom: 0;
}

.description {
	font-family: 'Handlee', cursive;
	text-align: center;
	font-size: 20px;
	color: white;
}

.restaurant-name, .price {
	font-family: 'Rock Salt', cursive;
	color: white;
}

.price {
	color: orange;
}

.meal-name, .click-to-see-more {
	font-family: 'Rock Salt', cursive;
	color: orange;
	text-align: center;
	padding-bottom: 30px;
}

.menu-items {
	padding-top: 10px;
	padding-bottom: 75px;
	min-height: 500px;
	border-bottom: 2px solid orange;
}

.name {
	font-family: 'Handlee', cursive;
	font-size: 30px;
	color: white;
	text-align: center;
}

.orange-line {
	
	border: 2px solid orange;
	
}

body {
	background-image: url("../../images/meaghan-menu-images/chalkboard-vertical1280x1920.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center, fixed;
}
.restaurant-name {
		text-align: center;
}
