.carousel-indicators {
	position: absolute; bottom: 0;
}

.restaurant-name {
	font-family: 'Rock Salt', cursive;
	color: white;
	text-align: center;
}
.meal-name {
	font-family: 'Rock Salt', cursive;
	color: orange;
	text-align: center;
	padding-bottom: 30px;
}

.menu-items {
	padding-top: 10px;
	padding-bottom: 75px;
	min-height: 500px;

	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 0px; /* Chrome, Safari, Opera */
    -moz-column-gap: 0px; /* Firefox */
    column-gap: 0px;
    -webkit-column-rule: 3px solid orange; /* Chrome, Safari, Opera */
    -moz-column-rule: 3px solid orange; /* Firefox */
    column-rule: 3px solid orange;
}

p {
	font-family: 'Handlee', cursive;
	text-align: center;
	font-size: 16px;
	color: white;
}

body {
	background-image: url("images/chalkboard-vertical1280x1920.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.restaurant-name {
	text-align: center;
	color: white;
}